spring:
  application:
    name: course
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
server:
  port: 8082

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8081/eureka/
    fetch-registry: true
    register-with-eureka: true